template(name="layout")
  +header
  +yield
  //+footer

template(name="header")
  .nav.navbar.navbar-default(role="navigation")
    .container-fluid
      .navbar-header
        a.navbar-brand(href="{{pathFor 'index'}}") StartupJobs

      ul.nav.navbar-nav
        li
          a(href="{{pathFor 'link1'}}") Link1
        li
          a(href="{{pathFor 'link2'}}") Link2
        li
          a(href="{{pathFor 'link3'}}") Link3
