template(name="jobList")
  #job-list
    .row-fluid
      h2 職缺
      .jobs
        each jobs
          +jobListItem
            
template(name="jobDetail")
  with job
    .row-fluid#job-detail
      .container-fluid
        .card
          .title {{jobTitle}}
          p {{salaryLowerBound}} ~ {{salaryUpperBound}}
        .card
          .title 公司簡介
          p {{company}}
          p {{location}}
          p 
        .card
          .title 職缺說明
          p {{description}}

template(name="submitJob")
  .row-fluid
    .container-fluid
      +quickForm collection="Jobs" type="insert" id="submit-job" omitFields="ownerId,voterIds,score"

template(name="updateJob")
  .row-fluid#update-job
    .container-fluid
      +quickForm collection="Jobs" doc=job type="update" id="update-job" omitFields="ownerId,voterIds,score"

template(name="jobListItem")
  a(href="{{pathFor 'jobDetail'}}")
    .job
      .row
        .col-xs-1
          button.btn.btn-primary.job-plus-1(href="#") 
            i.glyphicon.glyphicon-plus
          button.btn.btn-danger.job-minus-1(href="#") 
            i.glyphicon.glyphicon-minus
        .col-xs-8
          p 
            span {{jobTitle}} 
            span {{company}}
          p 
            span {{score}} point
        .col-xs-3
          span {{salaryLowerBound}} ~ {{salaryUpperBound}}
          a.pull-right.btn.btn-info(href="{{pathFor 'updateJob'}}") 編輯
