template(name="header")
  .nav.navbar.navbar-default(role="navigation")
    .container-fluid
      .navbar-header
        a.navbar-brand(href="{{pathFor 'index'}}") StartupJobs

      ul.nav.navbar-nav
        li
          a(href="{{pathFor 'link1'}}") Link1
        li
          a(href="{{pathFor 'link2'}}") Link2
        li
          a(href="{{pathFor 'memberList'}}") M
        li
          a(href="{{pathFor 'memberPost'}}") 輸入技能資訊
      .navbar-collapse.collapse
        ul.nav.navbar-nav.navbar-right
            +loginButtons
                    